<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
                %d{HH:mm:ss.SSS} %-5level %logger{0} &#8249;%thread&#8250;&#9;&#8220;%msg&#8221;%n &#8227; %C.%M\(%F:%L\)%n%n
      -->
    <appender name="Console OUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %-5level %msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>
    <appender name="Console ERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %-5level %msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <logger name="picocli.spring" level="error" />
    <logger name="media.mexm" level="info" />
    <logger name="tv.hd3g" level="warn" />
    <logger name="media.mexm.mediadeepa.components.RendererEngineComparator" level="error" />
    <logger name="media.mexm.mediadeepa.components.ExportFormatComparator" level="error" />

    <root level="warn">
        <appender-ref ref="Console OUT" />
        <appender-ref ref="Console ERR" />
    </root>
</configuration>
